<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
  <h3>test</h3>
</div>
<div>
  <form action="/form" method="POST">
    text:<br>
    <input type="text" name="form_data" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
